/* Custom Scrollbar Styles */
.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #d8d4d4;
}
